<form [formGroup]="form" class="grid gap-4">
  <div class="grid gap-3">
    <label
      for="id"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
    >
      Id
    </label>
    <input z-input formControlName="id" id="id" />
  </div>

  <div class="grid gap-3">
    <label
      for="title"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
    >
      Title
    </label>
    <input z-input formControlName="title" id="title" />
  </div>
  <div class="grid gap-3">
    <label
      for="summary"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
    >
      Summary
    </label>
    <textarea z-input formControlName="summary" id="summary"></textarea>
  </div>
</form>
