<main class="flex min-h-screen flex-col">
  <app-header />
  <div
    class="container mx-auto grid h-screen max-w-5xl flex-1 grid-cols-2 place-items-start items-center p-6"
  >
    <ul class="space-y-3">
      @for (user of this.users; track user.id) {
      <li>
        <app-user
          [user]="user"
          [selected]="selectedUser()?.id == user.id "
          (select)="onSelectUser($event)"
        />
      </li>
      }
    </ul>

    <div class="w-full justify-self-start">
      @if (selectedUser()) {
      <app-tasks
        [name]="selectedUser()?.name"
        [tasks]="selectedUser()?.tasks"
        (taskCompleted)="onTaskCompleted($event)"
        (addTask)="onAddTask($event)"
      />
      }
    </div>
  </div>
</main>

<router-outlet />
